#s-35d02a46-167e-4fe6-9d00-e4380227d581 > #backgroundBox {
  position: absolute;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg {
  position: absolute;
  width: 99.99999999999997%;
  min-height: 76.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #C7F695;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Text {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Text {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Text .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Text span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Text span#rtr-s-Text_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 {
  position: absolute;
  width: 227.0px;
  min-height: 97.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-1.2246467991473532E-16px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 {
  box-shadow: -1.2246467991473532E-16px 2.0px 5px 0px #999999;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 > .backgroundLayer > .colorLayer {
  background-color: #C7F695;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input .valign {
  vertical-align: middle;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_1 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_2 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_3 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_4 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 {
  box-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 .valign {
  vertical-align: middle;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-35d02a46-167e-4fe6-9d00-e4380227d581 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
