#s-3162f65d-63a3-43f4-9667-81f9b7b8f57b > #backgroundBox {
  position: absolute;
}

#s-3162f65d-63a3-43f4-9667-81f9b7b8f57b > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}

#s-3162f65d-63a3-43f4-9667-81f9b7b8f57b #s-Image {
  position: absolute;
  width: 359.9999999999998px;
  height: 821.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-3162f65d-63a3-43f4-9667-81f9b7b8f57b #s-Image {
  box-shadow: none;
}

#s-3162f65d-63a3-43f4-9667-81f9b7b8f57b #s-Hotspot {
  position: absolute;
  width: 51.0px;
  height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-3162f65d-63a3-43f4-9667-81f9b7b8f57b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
